.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:aliceblue
}

.home-button{
  color:aliceblue;
  border: var(--custom-border);
  background-color: rebeccapurple;
  width: 140px;
  height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin: 20px;
}