.lessons-table{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}

.this-course-info{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    padding: 20px;
    background-color: aliceblue;
}