.lessons-table{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}

.this-course-info{
    width: 60%;
    padding-left: 20px;
    background-color: aliceblue;
}