@import "./sidebar.scss";
@import "./courses.scss";
@import "./navbar.scss";
@import "./dashboard.scss";
@import "./lessons.scss";
@import "./home.scss";
@import "./this-lesson.scss";
@import "./auth";
@import "./App";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");


/* html {
    font-size: 62.5%; // 1rem is 10px
}

*{
    margin: 0;
    padding: 0;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}
 
.app {
    margin-top: 1rem;
}
*/
