.navbar-container{
    display: grid;
    grid-template-columns: 10% 90%;
    width: 100%;

}

.navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color:#101010;
    width: 100%;
}

.navbar *{
    padding: 15px;
}

#logo{
    height: 90px;
    width: 95px;
    justify-self: center;
    padding: 10px;
    
}

