.navbar{
    background-color:darkcyan;
    padding: 1rem, 2rem;
    border-bottom: 1px solid grey;
    width: 100%;

}

.sidebar{
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

} 

.sidebar li{
    margin: 2rem;
    text-decoration: none;
    list-style-type: none;
}

.sidebar-items{
    display: flex;
    
}

