
.sidebar{
    position: fixed; 
    left: 0; 
    top: 1;
    width: 200px; 
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 10%;
    justify-content: flex-start;
    align-items: flex-start;
    
 
} 

.sidebar li{
    margin: 2rem;
    list-style-type: none;
    margin-left: 15px;
}

.sidebar *{
    color: aliceblue;
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
}

