.tasks-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.tasks-header{
    width: 80%;
    background-color: aliceblue;
    padding: 20px; 
    border: 1px;
    border-radius: 5px;   
}

.input-area{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

#task-input{
    width: 60%;
}

.task-items-area{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    background-color: aliceblue;
    padding: 20px; 
    border: 1px;
    border-radius: 5px;  


}